.Container_Content3{
  margin-bottom: -300px;

}

.ebook_content{
  display: flex;
  flex-direction: row;
}

.ebook_ul{
  list-style: none;
}

.ebook_card{
  margin-left: 30px;
}

.ebook_card_tittle{
  margin-left: 10px;

  font-family: Nunito Extrabold;
  color: #393E46;
}

.ebook_tittle_content{
  font-family: Nunito Extrabold;
  font-size: 40px;
}

.ebook_catalog_row{
  width: 1220px;
}

.ebook_card_content{
  width: 280px;
  height: 370px;

  padding: 10px 15px;
  margin-left: 20px;
  margin-top: 20px;
  
  border: 1px solid #818d9716;
  cursor: pointer;
}

.ebook_card_content:hover{
  transform: scale(1.15);
  z-index: 2;
}

.ebook_card_content_img{
  width: 250px;
  height: 250px;
}

.ebook_card_content_tittle{
  font-family: Nunito Bold;
  font-size: 23px;
  color: #393E46;
}

.ebook_card_content_subtittle{
  font-family: Nunito;
  font-size: 15px;
  color: #818D97;
}

.ebook_categori{
  margin-left: -100px;
  width: 200px;
  height: 500px;
}

.ebook_ul_tittle{
  font-family: Nunito bold;
  color: #393E46;
  font-size: 25px;

  margin-bottom: 30px
}

.ebook_ul li{
  font-family: Nunito;
  color: #818D97;
  margin-bottom: 10px;
  
}

.ebook_ul li a{
  cursor: pointer;
}

.ebook_ul li a:hover{
  font-family: Nunito bold;
  color: #393E46;
  font-size: 20px;
  text-decoration: none;
}

.ebook_a_active{
  font-family: Nunito bold;
  color: #393E46;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.ebook_a_active:hover{
  color: #393E46;
}

.ebook_pagination{
  position: relative;
  margin-top: 50px;
  margin-left: 580px;

}

.ebook_pagination_active{
  background-color: #6D9886;
  color: #393E46;
}

.ebook_pagination :active{
  background-color: #6D9886;
}
